@charset "UTF-8";

body {
        background-color: rgb(187, 184, 230);
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
}
h1 {
       color: blueviolet;
        background-color: rgb(161, 232, 235);
}

h2 {
       color: blue;
}

p {
     text-align:justify;
}